<persistence xmlns="http://java.sun.com/xml/ns/persistence"  version="2.0">

    <persistence-unit name="default">
        <class>com.getjavajob.training.web1803.common.Account</class>
        <class>com.getjavajob.training.web1803.common.Phone</class>
        <class>com.getjavajob.training.web1803.common.Group</class>
        <class>com.getjavajob.training.web1803.common.AccountInGroup</class>
        <class>com.getjavajob.training.web1803.common.Message</class>
        <class>com.getjavajob.training.web1803.common.Relationship</class>
    </persistence-unit>
</persistence>